<div class="pagination-container-govco">
  <nav class="nav-pagination-govco" aria-label="Paginador de ejemplo">
      <div class="pagination-govco" id="paginationExample">
          <ul id="lista-paginador">
              <li *ngIf="currentPage > 1" class="page-item-govco prev-page-govco no">
                  <a href="javascript:void(0)" (click)="changePage(currentPage - 1)">
                      <span class="prev-page-icon-govco"></span>
                      <span class="prev-page-text-govco">Anterior</span>
                  </a>
              </li>
              <li *ngFor="let page of pagesToDisplay" [ngClass]="{'active-govco': page === currentPage}"
                  class="page-item-govco number-govco">
                  <a href="javascript:void(0)" (click)="changePage(page)">
                      {{ page }}
                  </a>
              </li>
              <li *ngIf="currentPage < totalPages" class="page-item-govco next-page-govco no">
                  <a href="javascript:void(0)" (click)="changePage(currentPage + 1)">
                      <span class="next-page-icon-govco"></span>
                      <span class="next-page-text-govco">Siguiente</span>
                  </a>
              </li>
          </ul>
      </div>
  </nav>
</div>