<div class="bg-gray-50/50">
    <div class="header-bar">
        <div class="flex w-full items-center gap-6 px-2" style="height: 65px;">
            <div class="w-1/2">
                <a href="https://www.gov.co/" target="_blank" title="Ir a la GOV.CO">
                    <img src="assets/logo.svg" alt="Logo de GOV.CO" style="width: 140px;">
                </a>
            </div>
        </div>
    </div>
    <div class="p-4">
        <div class="mt-2">
            <router-outlet />
        </div>
    </div>
    <div class="text-blue-gray-600">
        <app-footer />
    </div>
</div>