<div class="flex flex-col-reverse justify-between gap-6 md:flex-row md:items-center px-10 pl-[18px] sm:pl-[86px]">
  <div class="capitalize">
    <nav aria-label="breadcrumb" class="w-full">
      <ol class="flex items-center bg-opacity-60 rounded-md bg-transparent p-0 transition-all">
        <li class="flex items-center antialiased work-sans font-normal leading-normal transition-colors duration-300 hover:text-light-blue-500">
          <a href="/inicio" class="cursor-pointer">
            <p class="block antialiased work-sans text-primary1 leading-normal font-normal transition-all hover:text-primary2">
              Inicio
            </p>
          </a>
        </li>
        <li class="flex items-center antialiased work-sans font-normal leading-normal mx-2">
          <span class="text-parrafo antialiased work-sans font-normal leading-normal"> > </span>
        </li>
        <ng-container *ngFor="let item of breadcrumb">
          <li class="flex items-center antialiased work-sans font-normal leading-normal transition-colors duration-300">
            <a *ngIf="item.route !== 'NA'" [routerLink]="item.route" class="block antialiased work-sans text-primary1 leading-normal transition-all font-normal hover:text-primary2">
              {{ item.name }}
            </a>
            <p *ngIf="item.route === 'NA'" class="block antialiased work-sans text-parrafo leading-normal font-normal">
              {{ item.name }}
            </p>
          </li>
          <li *ngIf="item !== breadcrumb[breadcrumb.length - 1]" class="flex items-center antialiased work-sans font-normal leading-normal mx-2">
            <span class="text-parrafo antialiased work-sans font-normal leading-normal"> > </span>
          </li>
        </ng-container>
      </ol>
    </nav>
  </div>
</div>
