<div class="sm:grid sm:grid-cols-10 gap-4 h-full mb-12 pb-4">

    <div class="md:col-span-2 sm:col-span-3 w-auto sm:mt-16 mt-12 mb-12">
        <app-left-nav [data]="infoMenu" active="{{activeNum}}"></app-left-nav>
    </div>
    <!-- solicitud contet -->
    <div class="md:col-span-8 sm:col-span-7 w-auto sm:mt-10 mt-4 md:px-8 px-2" *ngIf="activeNum == '0'">
        <!-- <h2 class="text-primary4 !font-semibold">
            Indicadores de gestión y operación y sustentabilidad financiera

        </h2> -->
        <h3 class="text-primary1 !font-bold mt-4">Fijación de Capacidad Transportadora</h3>

        <!-- sttepper -->
        <div class="mt-4 w-full inline-flex justify-center">
            <app-sttepper [dataStep]="infoStepper"></app-sttepper>
        </div>

        <!-- form 1 -->
        <form [formGroup]="formGroup1" class="px-4 md:pl-16 md:pe-16 mt-6 active1 mb-6" *ngIf="activeStep == 1">
            <div class="col-span-2">
                <p class="font-bold">Cargue de documentación*</p>
                <p class="text-primary4 font-[500]">Los campos marcados con * son obligatorios</p>
            </div>
            <!-- content 1 -->
            <div
                class="content1 lg:grid lg:grid-cols-2 md:gap-x-24 lg:gap-x-36 md:flex md:flex-wrap items-center h-full">
                <!-- cargue 1 solicitud fijacion -->
                <div class="w-full flex flex-col justify-center items-start pt-6 my-auto mb-2 h-full">
                    <p class="text-primary3 font-semibold" [ngClass]="{'!text-error !font-normal': errorStates[1]}">
                        Solicitud de fijación de capacidad transportadora*
                    </p><br>
                    <app-file-upload class="mt-2 h-full" [dataClass]="dataClass" [maxFiles]="1" mimes=".pdf"
                        [error]="errorStates[1]" (fileSelected)="onFileSelected($event, 1)"></app-file-upload>
                </div>

                <!-- cargue 2 contrato prestacion del servicio de transporte -->
                <div class="w-full flex flex-col justify-center items-start pt-6 my-auto mb-2 h-full">
                    <p class="text-primary3 font-semibold" [ngClass]="{'!text-error !font-normal': errorStates[2]}">
                        Contratos de prestación del servicio de transporte
                        terrestre automotor especial suscritos por la empresa
                        de transporte*
                    </p>
                    <app-file-upload class="mt-2 h-full" [dataClass]="dataClass" mimes=".pdf" [error]="errorStates[2]"
                        (fileSelected)="onFileSelected($event, 2)"></app-file-upload>
                </div>
            </div>

            <!-- content 2 -->
            <div
                class="content2 lg:grid lg:grid-cols-2 md:gap-x-24 lg:gap-x-36 md:flex md:flex-wrap items-center h-full pt-6">
                <!-- cargue 3 Plan de Rodamiento -->
                <div class="w-full flex flex-col justify-center items-start pt-6 my-auto mb-2 h-full">
                    <p class="text-primary3 font-semibold" [ngClass]="{'!text-error !font-normal': errorStates[3]}">
                        Plan de Rodamiento*
                    </p>
                    <!-- texto informativo -->
                    <div class="flex inline-flex gap-2 h-full w-full">

                        <span
                            class="lg:w-[11%] md:w-[8%] sm:w-[8%] w-[6%] h-full flex flex-initial justify-center md:px-2 m-auto">
                            <img class="w-full m-auto flex" src="assets/iconoInfo.svg">
                        </span>
                        <p class="text-primary1 work-sans text-[11px] m-auto w-full flex-1">
                            Con cuadro detallado de cantidad de pasajeros movilizados por
                            tipología vehicular
                        </p>
                    </div>


                    <app-file-upload class="mt-2 h-full"
                        [dataClass]="{textSize: 'xs', textInfo: 'Archivo PDF o .xlsx. Peso máximo: 2MB'}"
                        [error]="errorStates[3]" mimes=".pdf,.xlsx" [maxFiles]="1"
                        (fileSelected)="onFileSelected($event, 3)"></app-file-upload>
                </div>

                <!-- cargue 4 Estructura costos básicos contratante y contratista -->
                <div class="w-full flex flex-col justify-center items-start pt-6 my-auto mb-2 h-full">
                    <p class="text-primary3 font-semibold" [ngClass]="{'!text-error !font-normal': errorStates[4]}">
                        Estructura costos básicos contratante y contratista*
                    </p>
                    <app-file-upload class="mt-2 h-full" [dataClass]="dataClass" [maxFiles]="1" mimes=".pdf"
                        [error]="errorStates[4]" (fileSelected)="onFileSelected($event, 4)"></app-file-upload>
                </div>
            </div>

            <!-- content 3 -->
            <div
                class="content1 lg:grid lg:grid-cols-2 md:gap-x-24 lg:gap-x-36 md:flex md:flex-wrap items-center h-full pt-6">
                <!-- cargue 5 certificado de existencia -->
                <div class="w-full flex flex-col justify-center items-start pt-6 my-auto mb-2 h-full">
                    <p class="text-primary3 font-semibold" [ngClass]="{'!text-error !font-normal': errorStates[5]}">
                        Certificado de Existencia y Representación legal no
                        menos a 30 días*
                    </p>
                    <app-file-upload class="mt-2 h-full" [dataClass]="dataClass" [maxFiles]="1" mimes=".pdf"
                        [error]="errorStates[5]" (fileSelected)="onFileSelected($event, 5)"></app-file-upload>
                </div>

                <!-- cargue 6 Registro Único Tributario -->
                <div class="w-full flex flex-col justify-center items-start pt-6 my-auto mb-2 h-full">
                    <p class="text-primary3 font-semibold" [ngClass]="{'!text-error !font-normal': errorStates[6]}">
                        Registro Único Tributario*
                    </p>
                    <app-file-upload class="mt-2 h-full" [dataClass]="dataClass" [maxFiles]="1" mimes=".pdf"
                        [error]="errorStates[6]" (fileSelected)="onFileSelected($event, 6)"></app-file-upload>
                </div>
            </div>

            <div class="mt-6 w-full flex justify-end gap-4">

                <app-primary-button class="" (click)="changeActiveStep(2, true)">Guardar</app-primary-button>
                <app-primary-button class="" (click)="goToModal(2)">continuar</app-primary-button>
            </div>

        </form>

        <!-- form 2 -->
        <form [formGroup]="formGroup2" class="px-4 md:pl-16 md:pe-16 mt-6 active1 mb-6" *ngIf="activeStep == 2">
            <div class="col-span-2">
                <p class="font-bold">Cargue de documentación*</p>
                <p class="text-primary4 font-[500]">Los campos marcados con * son obligatorios</p>
            </div>
            <!-- content 1 -->
            <div
                class="content1 lg:grid lg:grid-cols-2 md:gap-x-24 lg:gap-x-36 md:flex md:flex-wrap items-center h-full">
                <!-- cargue 7 Resolución de habilitación* -->
                <div class="w-full flex flex-col justify-center items-start pt-6 my-auto mb-2 h-full">
                    <p class="text-primary3 font-semibold" [ngClass]="{'!text-error !font-normal': errorStates[7]}">
                        Resolución de habilitación*
                    </p>
                    <app-file-upload class="mt-2 h-full" [dataClass]="dataClass" mimes=".pdf" [maxFiles]="1"
                        [error]="errorStates[7]" (fileSelected)="onFileSelected($event, 7)"></app-file-upload>
                </div>

                <!-- cargue 8 Cédula de Ciudadanía del Representante Legal* -->
                <div class="w-full flex flex-col justify-center items-start pt-6 my-auto mb-2 h-full">
                    <p class="text-primary3 font-semibold" [ngClass]="{'!text-error !font-normal': errorStates[8]}">
                        Cédula de Ciudadanía del Representante Legal*
                    </p>
                    <app-file-upload class="mt-2 h-full" [dataClass]="dataClass" mimes=".pdf" [error]="errorStates[8]"
                        [maxFiles]="1" (fileSelected)="onFileSelected($event, 8)"></app-file-upload>
                </div>
            </div>

            <!-- content 2 -->
            <div
                class="content2 lg:grid lg:grid-cols-2 md:gap-x-24 lg:gap-x-36 md:flex md:flex-wrap items-center h-full pt-6">
                <!-- cargue 9 Estados financieros de la empresa* -->
                <div class="w-full flex flex-col justify-center items-start pt-6 my-auto mb-2 h-full">
                    <p class="text-primary3 font-semibold" [ngClass]="{'!text-error !font-normal': errorStates[9]}">
                        Estados financieros de la empresa*
                    </p>

                    <app-file-upload class="mt-2 h-full" [dataClass]="dataClass" mimes=".pdf" [error]="errorStates[9]"
                        [maxFiles]="1" (fileSelected)="onFileSelected($event, 9)"></app-file-upload>
                </div>

                <!-- cargue 10 Cédula del contador que firma los estados financieros -->
                <div class="w-full flex flex-col justify-center items-start pt-6 my-auto mb-2 h-full">
                    <p class="text-primary3 font-semibold" [ngClass]="{'!text-error !font-normal': errorStates[10]}">
                        Cédula del contador que firma los estados financieros*
                    </p>
                    <app-file-upload class="mt-2 h-full" [dataClass]="dataClass" mimes=".pdf" [maxFiles]="1"
                        [error]="errorStates[10]" (fileSelected)="onFileSelected($event, 10)"></app-file-upload>
                </div>
            </div>

            <!-- content 3 -->
            <div class="content3 md:gap-x-36 md:flex items-center h-full pt-6">
                <!-- cargue 11 Tarjeta profesional contador que firma estados financieros* -->
                <div class="w-full flex flex-col justify-center items-start pt-6 my-auto h-full">
                    <p class="text-primary3 font-semibold" [ngClass]="{'!text-error !font-normal': errorStates[11]}">
                        Tarjeta profesional contador que firma estados financieros*
                    </p>
                    <app-file-upload class="mt-2 h-full" [maxFiles]="1" [dataClass]="dataClass" mimes=".pdf"
                        [error]="errorStates[11]" (fileSelected)="onFileSelected($event, 11)"></app-file-upload>
                </div>

            </div>

            <div class="mt-6 w-full flex justify-end">
                <button type="button" (click)="changeActiveStep(1, false)"
                    class="inline-flex items-center justify-center px-4 py-2 text-white bg-primary4 hover:bg-primary2 focus:bg-primary2 font-medium rounded-full text-[16px] work-sans text-center">
                    Regresar
                </button>
                <app-primary-button class="" (click)="changeActiveStep(3, true)">continuar</app-primary-button>
            </div>

        </form>

        <!-- form 3 -->
        <form [formGroup]="formGroup3" class="px-4 md:pl-16 md:pe-16 mt-6 active1 mb-6" (ngSubmit)="changeActiveStep(4, true)"
            *ngIf="activeStep == 3">
            <div class="col-span-2">
                <p class="font-bold">Digitar los siguientes campos*</p>
                <p class="text-primary4 font-[500]">Los campos marcados con * son obligatorios</p>
            </div>
            <!-- content 1 -->
            <div class="content1 md:grid sm:grid-cols-2 md:gap-x-36 md:flex items-center h-full">
                <!-- input 1 Capital Social en SMLV* -->
                <div class="w-full flex flex-col justify-center items-start pt-6 my-auto h-full">
                    <p class="text-primary3 font-semibold h-full">
                        Capital Social en SMLV*
                    </p>
                    <!-- input -->
                    <div class="mt-2 relative w-full">
                        <input
                            class="shadow-sm rounded-md min-w-[160px] w-full p-[10px] h-[40px] border border-primary3 focus:outline-none focus:border-primary1 bg-transparent"
                            type="text" formControlName="capitalSocial" placeholder="Ingrese numero"
                            (input)="onCurrencyInput($event, 'capitalSocial', formGroup3)"
                            (focus)="onCurrencyFocus($event)" />

                        <div class="w-full relative">
                            <!-- Icono de error (rojo) -->
                            <span
                                *ngIf="formGroup3.get('capitalSocial')?.invalid && (formGroup3.get('capitalSocial')?.touched || submitted)"
                                class="absolute top-[-33px] right-0 flex items-center pr-[10px]">
                                <span class="pi pi-exclamation-circle text-error text-[24px]"></span>
                            </span>

                            <!-- Icono de éxito (verde) -->
                            <span
                                *ngIf="formGroup3.get('capitalSocial')?.valid && (formGroup3.get('capitalSocial')?.touched || submitted)"
                                class="absolute top-[-33px] right-0 flex items-center pr-[10px]">
                                <span class="pi pi-check-circle text-success text-[24px]"></span>
                            </span>
                        </div>
                        <span *ngIf="submitted && formGroup3.get('capitalSocial')?.errors?.['required']"
                            class="text-error">
                            Capital social es obligatorio
                        </span>
                        <span
                            *ngIf="formGroup3.get('capitalSocial')?.hasError('negativeNumber') && (formGroup3.get('capitalSocial')?.touched || submitted)"
                            class="text-error">
                            El numeró no puede ser negativo
                        </span>
                    </div>
                    <div class="flex inline-flex md:gap-3 gap-2 h-full w-full mt-2">

                        <span class="lg:w-[12%] sm:w-[12%] w-[10%] h-full flex justify-center lg:px-1 m-auto">
                            <img class="w-full m-auto" src="assets/iconoInfo.svg">
                        </span>
                        <p class="text-primary1 work-sans text-[11px] mt-2 w-auto">
                            Empresa con capacidad transportadora operacional autorizada de
                            {{ formGroup3.get('cantidadVehiculos')?.value }} vehículos: Capital pagado mínimo: 300 SMLMV
                            –
                            Patrimonio líquido mínimo > 180 SMLMV
                        </p>
                    </div>

                </div>

                <!-- input 2 Patrimonio Líquido en SMLV* -->
                <div class="w-full flex flex-col justify-center items-start pt-6 my-auto h-full">
                    <p class="text-primary3 font-semibold h-full">
                        Patrimonio Líquido en SMLV*
                    </p>
                    <!-- input -->
                    <div class="mt-2 relative w-full">
                        <input
                            class="shadow-sm rounded-md min-w-[160px] w-full p-[10px] h-[40px] border border-primary3 focus:outline-none focus:border-primary1 bg-transparent"
                            type="text" formControlName="patrimonioLiquido" placeholder="ingrese numero"
                            (input)="onCurrencyInput($event, 'patrimonioLiquido', formGroup3)"
                            (focus)="onCurrencyFocus($event)" />
                        <div class="w-full relative">
                            <!-- Icono de error (rojo) -->
                            <span
                                *ngIf="formGroup3.get('patrimonioLiquido')?.invalid && (formGroup3.get('patrimonioLiquido')?.touched || submitted)"
                                class="absolute top-[-33px] right-0 flex items-center pr-[10px]">
                                <span class="pi pi-exclamation-circle text-error text-[24px]"></span>
                            </span>

                            <!-- Icono de éxito (verde) -->
                            <span
                                *ngIf="formGroup3.get('patrimonioLiquido')?.valid && (formGroup3.get('patrimonioLiquido')?.touched || submitted)"
                                class="absolute top-[-33px] right-0 flex items-center pr-[10px]">
                                <span class="pi pi-check-circle text-success text-[24px]"></span>
                            </span>
                        </div>
                        <span *ngIf="submitted && formGroup3.get('patrimonioLiquido')?.errors?.['required']"
                            class="text-error">
                            Patrimonio Líquido es obligatorio
                        </span>
                        <span
                            *ngIf="formGroup3.get('patrimonioLiquido')?.hasError('negativeNumber') && (formGroup3.get('patrimonioLiquido')?.touched || submitted)"
                            class="text-error">
                            El numeró no puede ser negativo
                        </span>
                    </div>
                    <!-- texto informativo -->
                    <div class="flex inline-flex md:gap-3 gap-2 h-full w-full mt-2">

                        <span class="lg:w-[12%] sm:w-[12%] w-[10%] h-full flex justify-center lg:px-1 m-auto">
                            <img class="w-full m-auto" src="assets/iconoInfo.svg">
                        </span>
                        <p class="text-primary1 work-sans text-[11px] mt-2 w-auto">
                            Empresa con capacidad transportadora operacional autorizada de
                            {{ formGroup3.get('cantidadVehiculos')?.value }} vehículos: Capital pagado mínimo: 300 SMLMV
                            –
                            Patrimonio líquido mínimo > 180 SMLMV
                        </p>
                    </div>

                </div>
            </div>

            <!-- content 2 -->
            <div class="content2 md:grid sm:grid-cols-2 md:gap-x-36 md:flex items-center h-full pt-6">
                <!-- select1 Cantidad de vehículos que está requiriendo fijar* -->
                <div class="w-full flex flex-col justify-center items-start pt-6 my-auto h-full">
                    <p class="text-primary3 font-semibold h-full">
                        Cantidad de vehículos que está requiriendo fijar*
                    </p>
                    <!-- select -->
                    <div class="w-full relative mt-2">

                        <input
                            class="shadow-sm rounded-md min-w-[160px] w-full p-[10px] h-[40px] border border-primary3 focus:outline-none focus:border-primary1 bg-transparent"
                            type="number" formControlName="cantidadVehiculos" required placeholder="Ingrese número">
                        <div class="w-full relative">
                            <!-- Icono de error (rojo) -->
                            <span
                                *ngIf="formGroup3.get('cantidadVehiculos')?.invalid && (formGroup3.get('cantidadVehiculos')?.touched || submitted)"
                                class="absolute top-[-33px] right-0 flex items-center pr-[10px]">
                                <span class="pi pi-exclamation-circle text-error text-[24px]"></span>
                            </span>

                            <!-- Icono de éxito (verde) -->
                            <span
                                *ngIf="formGroup3.get('cantidadVehiculos')?.valid && (formGroup3.get('cantidadVehiculos')?.touched || submitted)"
                                class="absolute top-[-33px] right-0 flex items-center pr-[10px]">
                                <span class="pi pi-check-circle text-success text-[24px]"></span>
                            </span>
                        </div>
                        <span *ngIf="submitted && formGroup3.get('cantidadVehiculos')?.errors?.['required']"
                            class="text-error">
                            Cantidad de vehículos es obligatorio
                        </span>
                        <span
                            *ngIf="formGroup3.get('cantidadVehiculos')?.hasError('negativeNumber') && (formGroup3.get('cantidadVehiculos')?.touched || submitted)"
                            class="text-error">
                            El numeró no puede ser negativo
                        </span>

                    </div>

                </div>

            </div>


            <div class="mt-6 w-full flex justify-end">
                <app-primary-button type="submit" class="">continuar</app-primary-button>
            </div>

        </form>

    </div>
    <!-- operativo contet -->
    <div class="md:col-span-8 sm:col-span-7 w-auto sm:mt-10 mt-4 md:px-8 px-2" *ngIf="activeNum == '1'">
        <h3 class="text-primary1 !font-bold">Fijación de Capacidad Transportadora</h3>

        <!-- form 4 -->
        <form [formGroup]="formGroup4" class="px-4 md:pl-16 md:pe-16 mt-6 active1 mb-16"
            (ngSubmit)="onSubmitAllForms()">
            <div class="col-span-2">
                <p class="font-bold">Digitar los siguientes campos*</p>
                <p class="text-primary4 font-[500] pt-4">Los campos marcados con * son obligatorios</p>
                <!-- texto informativo -->
                <div class="md:w-4/6 flex inline-flex md:gap-3 gap-2 h-full w-full mt-2">

                    <span class="lg:w-[7%] sm:w-[8%] w-[10%] h-full flex justify-center lg:px-1 m-auto">
                        <img class="w-full m-auto" src="assets/iconoInfo.svg">
                    </span>
                    <p class="text-primary1 work-sans text-[11px] mt-2 w-auto">
                        Con el fin de identificar cuantas veces tiene que digitar la siguiente información, teniendo en
                        cuenta que esta
                        información se debe diligenciar por cada uno de los contratos.
                    </p>
                </div>
                <p class="mt-2">
                    {{ this.fileNames[1][currentContractIteration]}}
                </p>
            </div>
            <!-- content 1 -->
            <div class="content1 md:grid sm:grid-cols-2 md:grid-cols-3 md:gap-x-24 md:flex items-center h-full">


                <!-- input 3 Cantidad de contratos* -->
                <div class="w-full flex flex-col justify-center items-start pt-6 my-auto h-full">
                    <p class="text-primary3 font-semibold">
                        Cantidad de contratos*
                    </p>
                    <!-- input -->
                    <div class="mt-2 relative w-full">
                        <input
                            class="shadow-sm rounded-md min-w-[160px] w-full p-[10px] h-[40px] border border-primary3 focus:outline-none focus:border-primary1 bg-transparent disabled:bg-secondary3 disabled:border-secondary2 disabled:text-secondary2"
                            type="number" formControlName="cantidad_contratos" placeholder="Ingrese número">
                        <div class="w-full relative">

                            <!-- Icono de éxito (verde) -->
                            <span
                                *ngIf="formGroup4.get('cantidad_contratos')?.valid && (formGroup4.get('cantidad_contratos')?.touched || submitted)"
                                class="absolute top-[-33px] right-0 flex items-center pr-[10px]">
                                <span class="pi pi-check-circle text-success text-[24px]"></span>
                            </span>
                        </div>

                    </div>

                </div>

                <!-- input 4 N° de contrato* -->
                <div class="w-full flex flex-col justify-center items-start pt-6 my-auto h-full">
                    <p class="text-primary3 font-semibold">
                        N° de contrato*
                    </p>
                    <!-- input -->
                    <div class="mt-2 w-full relative">
                        <input
                            class="shadow-sm rounded-md min-w-[160px] w-full p-[10px] h-[40px] border border-primary3 focus:outline-none focus:border-primary1 bg-transparent"
                            type="text" formControlName="numeroContrato" required placeholder="Ingrese número contrato">
                        <div class="w-full relative">
                            <!-- Icono de error (rojo) -->
                            <span
                                *ngIf="formGroup4.get('numeroContrato')?.invalid && (formGroup4.get('numeroContrato')?.touched || submitted)"
                                class="absolute top-[-33px] right-0 flex items-center pr-[10px]">
                                <span class="pi pi-exclamation-circle text-error text-[24px]"></span>
                            </span>

                            <!-- Icono de éxito (verde) -->
                            <span
                                *ngIf="formGroup4.get('numeroContrato')?.valid && (formGroup4.get('numeroContrato')?.touched || submitted)"
                                class="absolute top-[-33px] right-0 flex items-center pr-[10px]">
                                <span class="pi pi-check-circle text-success text-[24px]"></span>
                            </span>
                        </div>
                        <span *ngIf="submitted && formGroup4.get('numeroContrato')?.errors?.['required']"
                            class="text-error">
                            El numero de contrato es obligatorio
                        </span>

                    </div>

                </div>

                <!-- input 5 Contratante* -->
                <div class="w-full flex flex-col justify-center items-start pt-6 my-auto h-full">
                    <p class="text-primary3 font-semibold h-full">
                        Contratante*
                    </p>
                    <!-- input -->
                    <div class="mt-2 relative w-full">
                        <input
                            class="shadow-sm rounded-md min-w-[160px] w-full p-[10px] h-[40px] border border-primary3 focus:outline-none focus:border-primary1 bg-transparent"
                            type="text" formControlName="contratante" required
                            placeholder="Nombre de empresa contratante">
                        <div class="w-full relative">
                            <!-- Icono de error (rojo) -->
                            <span
                                *ngIf="formGroup4.get('contratante')?.invalid && (formGroup4.get('contratante')?.touched || submitted)"
                                class="absolute top-[-33px] right-0 flex items-center pr-[10px]">
                                <span class="pi pi-exclamation-circle text-error text-[24px]"></span>
                            </span>

                            <!-- Icono de éxito (verde) -->
                            <span
                                *ngIf="formGroup4.get('contratante')?.valid && (formGroup4.get('contratante')?.touched || submitted)"
                                class="absolute top-[-33px] right-0 flex items-center pr-[10px]">
                                <span class="pi pi-check-circle text-success text-[24px]"></span>
                            </span>
                        </div>
                        <span *ngIf="submitted && formGroup4.get('contratante')?.errors?.['required']"
                            class="text-error">
                            El Contratante es obligatorio
                        </span>
                        <span
                            *ngIf="formGroup4.get('contratante')?.hasError('negativeNumber') && (formGroup4.get('contratante')?.touched || submitted)"
                            class="text-error">
                            El numeró no puede ser negativo
                        </span>
                    </div>

                </div>
            </div>

            <!-- content 2 -->
            <div class="content1 md:grid sm:grid-cols-2 md:grid-cols-3 md:gap-x-24 md:flex items-center h-full">
                <!-- input 7 Fecha de inicio* -->
                <div class="w-full flex flex-col justify-center items-start pt-6 my-auto h-full">
                    <p class="text-primary3 font-semibold h-full">
                        Fecha y hora de inicio*
                    </p>
                    <!-- input -->
                    <div class="relative w-full">
                        <input
                            class="shadow-sm rounded-md w-full p-[10px] h-[40px] border border-primary3 focus:outline-none focus:border-primary1 bg-transparent"
                            type="datetime-local" formControlName="fecha_inicio" required placeholder="dd/mm/aaaa">

                        <span *ngIf="submitted && formGroup4.get('fecha_inicio')?.errors?.['required']"
                            class="text-error">
                            Fecha y hora de inicio son obligatorias
                        </span>
                    </div>
                </div>

                <!-- input 8 Fecha de terminación* -->
                <div class="w-full flex flex-col justify-center items-start pt-6 my-auto h-full">
                    <p class="text-primary3 font-semibold">
                        Fecha y hora de terminación*
                    </p>
                    <!-- input -->
                    <div class="mt-2 relative w-full">
                        <input
                            class="shadow-sm rounded-md w-full p-[10px] h-[40px] border border-primary3 focus:outline-none focus:border-primary1 bg-transparent"
                            type="datetime-local" formControlName="fecha_terminacion" required placeholder="dd/mm/aaaa">

                        <span *ngIf="submitted && formGroup4.get('fecha_terminacion')?.errors?.['required']"
                            class="text-error">
                            Fecha y hora de terminación son obligatorias
                        </span>
                        <span
                            *ngIf="formGroup4.hasError('dateRangeInvalid') && (formGroup4.get('fecha_terminacion')?.touched || submitted)"
                            class="text-error">
                            Fecha de terminación no puede ser anterior a fecha de inicio.
                        </span>
                    </div>
                </div>

                <!-- select1 Duración en meses* -->
                <div class="w-full flex flex-col justify-center items-start pt-6 my-auto h-full">
                    <p class="text-primary3 font-semibold h-full">
                        Duración en meses*
                    </p>

                    <!-- input que muestra la duración -->
                    <div class="w-full relative mt-2">
                        <input
                            class="shadow-sm rounded-md w-full p-[10px] h-[40px] border border-primary3 focus:outline-none focus:border-primary1 bg-transparent disabled:bg-secondary3 disabled:border-secondary2 disabled:text-secondary2"
                            type="number" formControlName="duracionMeses" placeholder="Duración en meses">

                        <span class="lg:text-[11px] sm:text-[10px] text-success">
                            Duración calculada automáticamente.
                        </span>
                    </div>
                </div>

            </div>

            <!-- content 3 -->
            <div class="content1 md:grid sm:grid-cols-2 md:grid-cols-3 md:gap-x-24 md:flex items-center h-full">
                <!-- input N° de Vehículos / Contrato* -->
                <div class="w-full flex flex-col justify-center items-start pt-6 my-auto h-full">
                    <p class="text-primary3 font-semibold h-full">
                        N° de Vehículos / Contrato*
                    </p>
                    <!-- input -->
                    <div class="mt-2 relative w-full">
                        <input
                            class="shadow-sm rounded-md min-w-[160px] w-full p-[10px] h-[40px] border border-primary3 focus:outline-none focus:border-primary1 bg-transparent"
                            type="number" formControlName="numeroVehiculos" required
                            placeholder="N° de Vehículos / Contrato">
                        <div class="w-full relative">
                            <!-- Icono de error (rojo) -->
                            <span
                                *ngIf="formGroup4.get('numeroVehiculos')?.invalid && (formGroup4.get('numeroVehiculos')?.touched || submitted)"
                                class="absolute top-[-33px] right-0 flex items-center pr-[10px]">
                                <span class="pi pi-exclamation-circle text-error text-[24px]"></span>
                            </span>

                            <!-- Icono de éxito (verde) -->
                            <span
                                *ngIf="formGroup4.get('numeroVehiculos')?.valid && (formGroup4.get('numeroVehiculos')?.touched || submitted)"
                                class="absolute top-[-33px] right-0 flex items-center pr-[10px]">
                                <span class="pi pi-check-circle text-success text-[24px]"></span>
                            </span>
                        </div>
                        <span *ngIf="submitted && formGroup4.get('numeroVehiculos')?.errors?.['required']"
                            class="text-error">
                            N° de Vehículos / Contrato es obligatorio
                        </span>
                        <span
                            *ngIf="formGroup4.get('numeroVehiculos')?.hasError('negativeNumber') && (formGroup4.get('numeroVehiculos')?.touched || submitted)"
                            class="text-error">
                            El numeró no puede ser negativo
                        </span>
                    </div>

                </div>

                <!-- select3 Clase de vehículo* -->
                <div class="w-full flex flex-col justify-center items-start pt-6 my-auto h-full">
                    <p class="text-primary3 font-semibold h-full">
                        Clase de vehículo*
                    </p>
                    <!-- select -->
                    <div class="w-full relative mt-2">
                        <!-- Selector principal -->
                        <div (click)="toggleDropdown(0)"
                            [ngClass]="{'text-error !border border-error': formGroup4.get('idClaseVehiculo')?.invalid && (formGroup4.get('idClaseVehiculo')?.touched || formGroup4.get('idClaseVehiculo')?.dirty)}"
                            class="cursor-pointer shadow-sm min-w-[160px] w-full p-[10px] min-h-[40px] bg-transparent border-2 border-secondary1 focus:outline-none focus:border-primary1 flex justify-between items-center">
                            <span *ngIf="!selectedOptionsClase.length" class="font-[500] text-xs">Seleccione</span>
                            <span *ngIf="selectedOptionsClase.length" class="text-normal">{{
                                getSelectedLabels('idClaseVehiculo') }}</span>

                            <i class="pi pi-chevron-down text-primary2 text-xs"
                                [ngClass]="{'!text-error': formGroup4.get('idClaseVehiculo')?.invalid && (formGroup4.get('idClaseVehiculo')?.touched || formGroup4.get('idClaseVehiculo')?.dirty)}"></i>
                        </div>

                        <!-- Opciones desplegables -->
                        <ul *ngIf="selects[0].isDropdownOpen"
                            class="absolute z-20 bg-secondary4 border border-primary1 shadow-md rounded-bl-md rounded-br-md w-full mt-1 max-h-48 overflow-y-auto">
                            <li *ngFor="let option of ClaseVehiculo" (click)="toggleOption(option, 'idClaseVehiculo')"
                                class="cursor-pointer px-4 py-2 hover:bg-secondary1 flex items-center">

                                <!-- Estilo personalizado -->
                                <div class="mr-2 !border-2 !border-primary1 rounded-md !h-5 !w-5 flex items-center justify-center"
                                    [ngClass]=" {'!bg-primary1 text-white': isSelected(option, 'idClaseVehiculo')}">
                                    <span *ngIf="isSelected(option, 'idClaseVehiculo')"> &#10003; </span>
                                </div>
                                {{ option.label }}


                            </li>
                        </ul>

                        <!-- Mensajes de validación -->
                        <span class="text-sm text-success"
                            *ngIf="formGroup4.get('idClaseVehiculo')?.valid && formGroup4.get('idClaseVehiculo')?.touched">
                            Selección válida
                        </span>
                        <span class="text-sm text-error"
                            *ngIf="formGroup4.get('idClaseVehiculo')?.invalid && (formGroup4.get('idClaseVehiculo')?.touched || formGroup4.get('idClaseVehiculo')?.dirty)">
                            {{ selects[0].errorMessage }}
                        </span>

                    </div>


                </div>


                <!-- input 10 Valor del Contrato* -->
                <div class="w-full flex flex-col justify-center items-start pt-6 my-auto h-full">
                    <p class="text-primary3 font-semibold h-full">
                        Valor del Contrato*
                    </p>
                    <!-- input -->
                    <div class="mt-2 relative w-full">
                        <input
                            class="shadow-sm rounded-md min-w-[160px] w-full p-[10px] h-[40px] border border-primary3 focus:outline-none focus:border-primary1 bg-transparent"
                            type="text" formControlName="valorContrato" placeholder="$"
                            (input)="onCurrencyInput($event, 'valorContrato', formGroup4)"
                            (focus)="onCurrencyFocus($event)" />
                        <div class="w-full relative">
                            <!-- Icono de error (rojo) -->
                            <span
                                *ngIf="formGroup4.get('valorContrato')?.invalid && (formGroup4.get('valorContrato')?.touched || submitted)"
                                class="absolute top-[-33px] right-0 flex items-center pr-[10px]">
                                <span class="pi pi-exclamation-circle text-error text-[24px]"></span>
                            </span>

                            <!-- Icono de éxito (verde) -->
                            <span
                                *ngIf="formGroup4.get('valorContrato')?.valid && (formGroup4.get('valorContrato')?.touched || submitted)"
                                class="absolute top-[-33px] right-0 flex items-center pr-[10px]">
                                <span class="pi pi-check-circle text-success text-[24px]"></span>
                            </span>
                        </div>
                        <span *ngIf="submitted && formGroup4.get('valorContrato')?.errors?.['required']"
                            class="text-error">
                            Valor del Contrato es obligatorio
                        </span>
                        <span
                            *ngIf="formGroup4.get('valorContrato')?.hasError('negativeNumber') && (formGroup4.get('valorContrato')?.touched || submitted)"
                            class="text-error">
                            El numeró no puede ser negativo
                        </span>
                    </div>
                </div>
            </div>

            <!-- content 4 -->
            <div class="content1 md:grid sm:grid-cols-2 md:grid-cols-3 md:gap-x-24 md:flex items-center h-full">
                <!-- select4 Forma de pago* -->
                <div class="w-full flex flex-col justify-center items-start pt-6 my-auto h-full">
                    <p class="text-primary3 font-semibold h-full">
                        Forma de pago*
                    </p>
                    <!-- select -->
                    <div class="w-full relative mt-2">

                        <div (click)="toggleDropdown(1)"
                            [ngClass]="{'text-error !border border-error': formGroup4.get('idFormaPago')?.invalid && (formGroup4.get('idFormaPago')?.touched || formGroup4.get('idFormaPago')?.dirty)}"
                            class="cursor-pointer shadow-sm min-w-[160px] w-full p-[10px] h-[40px] bg-transparent border-2 border-secondary1 focus:outline-none focus:border-primary1 flex justify-between items-center">
                            <span *ngIf="!selects[1].value" class="font-[500] text-xs">Seleccione</span>
                            <span *ngIf="selects[1].value" class="text-normal">{{
                                formGroup4.get('idFormaPago')?.value.label
                                }}</span>

                            <i class="pi pi-chevron-down text-primary2 text-xs"
                                [ngClass]="{'!text-error': formGroup4.get('idFormaPago')?.invalid && (formGroup4.get('idFormaPago')?.touched || formGroup4.get('idFormaPago')?.dirty)}"></i>
                        </div>

                        <ul *ngIf="selects[1].isDropdownOpen"
                            class="absolute z-20 bg-secondary4 border border-primary1 shadow-md rounded-bl-md rounded-br-md w-full mt-1 max-h-48 overflow-y-auto">
                            <li *ngFor="let option of formaPago" (click)="selectOption(1, option, 'idFormaPago')"
                                class="cursor-pointer px-4 py-2 hover:bg-primary1 hover:text-white">
                                {{ option.label }}
                            </li>
                        </ul>
                        <!-- Mensajes de validación -->
                        <span class="text-sm text-success"
                            *ngIf="formGroup4.get('idFormaPago')?.valid && formGroup4.get('idFormaPago')?.touched">
                            Selección válida
                        </span>
                        <span class="text-sm text-error"
                            *ngIf="formGroup4.get('idFormaPago')?.invalid && (formGroup4.get('idFormaPago')?.touched || formGroup4.get('idFormaPago')?.dirty)">
                            {{ selects[1].errorMessage }}
                        </span>

                    </div>

                </div>

                <!-- select5 Áreas de Operación* -->
                <div class="w-full flex flex-col justify-center items-start pt-6 my-auto h-full">
                    <p class="text-primary3 font-semibold h-full">
                        Áreas de Operación*
                    </p>

                    <!-- select -->
                    <div class="w-full relative mt-2">

                        <!-- Selector principal -->
                        <div (click)="toggleDropdown(2)"
                            [ngClass]="{'text-error !border border-error': formGroup4.get('idAreaOperacion')?.invalid && (formGroup4.get('idAreaOperacion')?.touched || formGroup4.get('idAreaOperacion')?.dirty)}"
                            class="cursor-pointer shadow-sm min-w-[160px] w-full p-[10px] min-h-[40px] bg-transparent border-2 border-secondary1 focus:outline-none focus:border-primary1 flex justify-between items-center">
                            <span *ngIf="!selectedOptionsDeparts.length" class="font-[500] text-xs">Seleccione</span>
                            <span *ngIf="selectedOptionsDeparts.length" class="text-normal">{{
                                getSelectedLabels('idAreaOperacion') }}</span>

                            <i class="pi pi-chevron-down text-primary2 text-xs"
                                [ngClass]="{'!text-error': formGroup4.get('idAreaOperacion')?.invalid && (formGroup4.get('idAreaOperacion')?.touched || formGroup4.get('idAreaOperacion')?.dirty)}"></i>
                        </div>

                        <!-- Opciones desplegables -->
                        <ul *ngIf="selects[2].isDropdownOpen"
                            class="absolute z-20 bg-secondary4 border border-primary1 shadow-md rounded-bl-md rounded-br-md w-full mt-1 max-h-48 overflow-y-auto">
                            <li *ngFor="let option of departs" (click)="toggleOption(option, 'idAreaOperacion')"
                                class="cursor-pointer px-4 py-2 hover:bg-secondary1 flex items-center">

                                <!-- Estilo personalizado -->
                                <div class="mr-2 !border-2 !border-primary1 rounded-md !h-5 !w-5 flex items-center justify-center"
                                    [ngClass]=" {'!bg-primary1 text-white': isSelected(option, 'idAreaOperacion')}">
                                    <span *ngIf="isSelected(option, 'idAreaOperacion')"> &#10003; </span>
                                </div>
                                {{ option.label }}


                            </li>
                        </ul>
                        <!-- Mensajes de validación -->
                        <span class="text-sm text-success"
                            *ngIf="formGroup4.get('idAreaOperacion')?.valid && formGroup4.get('idAreaOperacion')?.touched">
                            Selección válida
                        </span>
                        <span class="text-sm text-error"
                            *ngIf="formGroup4.get('idAreaOperacion')?.invalid && (formGroup4.get('idAreaOperacion')?.touched || formGroup4.get('idAreaOperacion')?.dirty)">
                            {{ selects[2].errorMessage }}
                        </span>

                    </div>
                </div>

                <!-- select6 Tiempos estimados (En horas) -->
                <div class="w-full flex flex-col justify-center items-start pt-6 my-auto h-full">
                    <p class="text-primary3 font-semibold h-full">
                        Tiempos estimados (En horas) - Disponibilidad de Vehículos*
                    </p>
                    <!-- select -->
                    <div class="w-full relative mt-2">

                        <div (click)="toggleDropdown(3)"
                            [ngClass]="{'text-error !border border-error': formGroup4.get('disponibilidadVehiculosEstimada')?.invalid && (formGroup4.get('disponibilidadVehiculosEstimada')?.touched || formGroup4.get('disponibilidadVehiculosEstimada')?.dirty)}"
                            class="cursor-pointer shadow-sm min-w-[160px] w-full p-[10px] h-[40px] bg-transparent border-2 border-secondary1 focus:outline-none focus:border-primary1 flex justify-between items-center">
                            <span *ngIf="!selects[3].value" class="font-[500] text-xs">Seleccione</span>
                            <span *ngIf="selects[3].value" class="text-normal">{{
                                formGroup4.get('disponibilidadVehiculosEstimada')?.value.label
                                }}</span>

                            <i class="pi pi-chevron-down text-primary2 text-xs"
                                [ngClass]="{'!text-error': formGroup4.get('disponibilidadVehiculosEstimada')?.invalid && (formGroup4.get('disponibilidadVehiculosEstimada')?.touched || formGroup4.get('disponibilidadVehiculosEstimada')?.dirty)}"></i>
                        </div>

                        <ul *ngIf="selects[3].isDropdownOpen"
                            class="absolute z-20 bg-secondary4 border border-primary1 shadow-md rounded-bl-md rounded-br-md w-full mt-1 max-h-48 overflow-y-auto">
                            <li *ngFor="let option of horas"
                                (click)="selectOption(3, option, 'disponibilidadVehiculosEstimada')"
                                class="cursor-pointer px-4 py-2 hover:bg-primary1 hover:text-white">
                                {{ option.label }}
                            </li>
                        </ul>
                        <!-- Mensajes de validación -->
                        <span class="text-sm text-success"
                            *ngIf="formGroup4.get('disponibilidadVehiculosEstimada')?.valid && formGroup4.get('disponibilidadVehiculosEstimada')?.touched">
                            Selección válida
                        </span>
                        <span class="text-sm text-error"
                            *ngIf="formGroup4.get('disponibilidadVehiculosEstimada')?.invalid && (formGroup4.get('disponibilidadVehiculosEstimada')?.touched || formGroup4.get('disponibilidadVehiculosEstimada')?.dirty)">
                            {{ selects[3].errorMessage }}
                        </span>

                    </div>

                </div>
            </div>


            <div class="mt-12 w-full flex justify-center">
                <app-primary-button class="">Enviar</app-primary-button>
            </div>

        </form>

    </div>

</div>

<!-- APP ALERT REQUISITO CAPITAL SOCIAL Y PATRIMONIO -->
<app-alert [showModal]="showModalContinuar" title="Continuar sin guardar" subtitle=""
    message="Esta seguro que desea continuar sin guardar." cancelButtonText="Cerrar" [showCancelButton]="true" buttonText="Continuar"
    [showFirstButton]="true" (close)="showModalContinuar = false" (closeByButton1)="changeActiveStep(numberTocontinue, false)"
    TypeAlert="warning"></app-alert>

<!-- APP ALERT REQUISITO CAPITAL SOCIAL Y PATRIMONIO -->
<app-alert [showModal]="showModalRequisito" title="No cumple requisito" subtitle=""
    message="{{ valid1 ? 'No se cumple con el requisito mínimo de patrimonio liquido (menor a 180 SMLMV)' :valid2 ? 'No se cumple con el requisito mínimo de capital social (300 SMLMV)' : 'No se cumple con el requisito mínimo de capital social (300 SMLMV) y patrimonio liquido (180 SMLMV)'  }}"
    cancelButtonText="Cerrar" [showCancelButton]="true" [showFirstButton]="false" (close)="showModalRequisito = false"
    textColor="text-waring" TypeAlert="warning"></app-alert>

<!-- modal de confirmación -->
<app-alert [showModal]="showModal" title="¿Está seguro de enviar?" subtitle="¿Está seguro de enviar?"
    [showSubtitle]="false" [message]="'Una vez enviado, no podrá cambiar la información.'" buttonText="Enviar"
    [showFirstButton]="true" cancelButtonText="Cancelar" [showCancelButton]="true" TypeAlert="success"
    (close)="handleClose()"
    (closeByButton1)="currentContractIteration == totalContracts ? sendAllContracts() : handleCloseByButton1()"
    (closeByButton2)="handleCloseByButton2()" (closeByIcon)="handleCloseByIcon()"
    (closeByBackdrop)="handleCloseByBackdrop()" (close)="showModal = false"></app-alert>


<!-- modal de loading -->
<app-alert [showModal]="ShowLoadingModal" title="Verificando datos" subtitle="Un momento por favor."
    message="Se está guardando los datos enviados" [showFirstButton]="false" [showCancelButton]="false"
    TypeAlert="loader"></app-alert>


<!-- modal final -->
<app-alert [showModal]="showFinalModal" title="Envío exitoso" textColor="text-success" [showSubtitle]="false"
    [message]="'Su solicitud ha sido enviada exitosamente, se le asignará un radicado para su trámite'"
    buttonText="Continuar" [showFirstButton]="true" [showCancelButton]="false" TypeAlert="success"
    (close)="handleClose()" (closeByButton1)="finalStep()" (closeByButton2)="handleCloseByButton2()"
    (closeByIcon)="handleCloseByIcon()" (closeByBackdrop)="handleCloseByBackdrop()"
    (close)="showFinalModal = false"></app-alert>

<!-- modal error -->
<app-alert [showModal]="showErrorModal" title="Error en el envió de datos" textColor="text-error" [showSubtitle]="false"
    [message]="'Estamos experimentando inconvenientes técnicos con el envió de la solicitud, por favor intente más tarde'"
    buttonText="Continuar" [showFirstButton]="true" [showCancelButton]="false" TypeAlert="error" (close)="handleClose()"
    (closeByButton1)="showErrorModal = false" (closeByButton2)="handleCloseByButton2()"
    (closeByIcon)="handleCloseByIcon()" (closeByBackdrop)="handleCloseByBackdrop()"
    (close)="showErrorModal = false"></app-alert>