<div class="sm:grid sm:grid-cols-10 gap-4" *ngIf="user.roles[0].roleName == 'ROLE_ESCRITURA_MIN'"
     xmlns="http://www.w3.org/1999/html">

  <div class="md:col-span-2 sm:col-span-3 w-auto sm:mt-16 mt-12">
    <app-left-nav [data]="infoMenu" active="{{activeNum}}"></app-left-nav>
  </div>
  <!-- solicitud contenido -->
  <div class="md:col-span-8 sm:col-span-7 w-auto sm:mt-10 mt-4 md:px-8 px-2" *ngIf="activeNum == '0'">

    <h3 class="text-primary1 !font-bold mt-4"> Incremento de Capacidad Transportadora</h3>

    <!-- sttepper -->
    <div class="mt-4 w-full inline-flex justify-center">
      <app-sttepper [dataStep]="infoStepper"></app-sttepper>
    </div>

    <!-- formulario 1 -->
    <form [formGroup]="formGroup1" class="px-4 md:pl-16 md:pe-16 mt-6 active1 mb-6" *ngIf="activeStep == 1">

      <div class="col-span-2">
        <p class="font-bold">Cargue de documentación*</p>
        <p class="text-primary4 font-[500]">Los campos marcados con * son obligatorios</p>
      </div>

      <!-- contenido 1 -->
      <div class="content1 md:grid sm:grid-cols-2 md:gap-x-36 md:flex items-center h-full">

        <!-- cargue 1 -->
        <div class="w-full flex flex-col justify-center items-start pt-6 my-auto h-full">
          <p class="text-primary3 font-semibold"
             [ngClass]="{'!text-error !font-normal': errorStates[1]}">
            Copia de los contratos de servicio especial, que esté
            ejecutando y de los nuevos que requiere atender con la
            nueva capacidad*
          </p>
          <app-file-upload class="mt-2 h-full" [dataClass]="dataClass" [maxFiles]="1" mimes=".pdf"
                           [error]="errorStates[1]" (fileSelected)="onFileSelected($event, 1)"></app-file-upload>
        </div>

        <!-- cargue 2 -->
        <div class="w-full flex flex-col justify-center items-start pt-6 my-auto h-full">
          <p class="text-primary3 font-semibold"
             [ngClass]="{'!text-error !font-normal': errorStates[2]}">
            Plan de rodamiento, donde demuestre la utilización
            de vehículos autorizados y de los que solicitan con el
            aumento, aclarando cuales son los vehículos nuevos*
          </p>
          <app-file-upload class="mt-2 h-full" [dataClass]="dataClass" [maxFiles]="1" mimes=".pdf"
                           [error]="errorStates[2]" (fileSelected)="onFileSelected($event, 2)"></app-file-upload>
        </div>

      </div>

      <!-- contenido 2 -->
      <div class="content2 md:grid sm:grid-cols-2 md:gap-x-36 md:flex items-center h-full pt-6">

        <!-- cargue 3 -->
        <div class="w-full flex flex-col justify-center items-start pt-6 my-auto h-full">
          <p class="text-primary3 font-semibold"
             [ngClass]="{'!text-error !font-normal': errorStates[3]}">
            Estructura de costos de las operaciones que tienen
            contratadas y las tarifas establecidas por el servicio*
          </p>
          <app-file-upload class="mt-2 h-full" [dataClass]="dataClass" [maxFiles]="1" mimes=".pdf"
                           [error]="errorStates[3]" (fileSelected)="onFileSelected($event, 3)"></app-file-upload>
        </div>

        <!-- cargue 4 -->
        <div class="w-full flex flex-col justify-center items-start pt-6 my-auto h-full">
          <p class="text-primary3 font-semibold"
             [ngClass]="{'!text-error !font-normal': errorStates[4]}">
            Certificado de cumplimiento del 10% de flota de la
            empresa*
          </p>
          <br>
          <app-file-upload class="mt-2 h-full" [dataClass]="dataClass" [maxFiles]="1" mimes=".pdf"
                           [error]="errorStates[4]" (fileSelected)="onFileSelected($event, 4)"></app-file-upload>
        </div>

      </div>

      <!-- contenido 3 -->
      <div class="content1 md:grid sm:grid-cols-2 md:gap-x-36 md:flex items-center h-full pt-6">

        <!-- cargue 5 -->
        <div class="w-full flex flex-col justify-center items-start pt-6 my-auto h-full">
          <p class="text-primary3 font-semibold"
             [ngClass]="{'!text-error !font-normal': errorStates[5]}">
            Certificado de Existencia y Representación legal no
            menos a 30 días*
          </p>
          <app-file-upload class="mt-2 h-full" [dataClass]="dataClass" [maxFiles]="1" mimes=".pdf"
                           [error]="errorStates[5]" (fileSelected)="onFileSelected($event, 5)"></app-file-upload>
        </div>

        <!-- cargue 6 -->
        <div class="w-full flex flex-col justify-center items-start pt-6 my-auto h-full">
          <p class="text-primary3 font-semibold"
             [ngClass]="{'!text-error !font-normal': errorStates[6]}">
            Registro Único Tributario*
          </p>
          <app-file-upload class="mt-2 h-full" [dataClass]="dataClass" [maxFiles]="1" mimes=".pdf"
                           [error]="errorStates[6]" (fileSelected)="onFileSelected($event, 6)"></app-file-upload>
        </div>

      </div>

      <div class="mt-6 w-full flex justify-end">
        <app-primary-button class="" (click)="changeActiveStep(2)">continuar</app-primary-button>
      </div>

    </form>

    <!-- formulario 2 -->
    <form [formGroup]="formGroup2" class="px-4 md:pl-16 md:pe-16 mt-6 active1 mb-6" *ngIf="activeStep == 2">

      <div class="col-span-2">
        <p class="font-bold">Cargue de documentación*</p>
        <p class="text-primary4 font-[500]">Los campos marcados con * son obligatorios</p>
      </div>

      <!-- contenido 1 -->
      <div class="content1 md:grid sm:grid-cols-2 md:gap-x-36 md:flex items-center h-full">

        <!-- cargue 7 -->
        <div class="w-full flex flex-col justify-center items-start pt-6 my-auto h-full">
          <p class="text-primary3 font-semibold"
             [ngClass]="{'!text-error !font-normal': errorStates[7]}">
            Resolución de habilitación*
          </p>
          <app-file-upload class="mt-2 h-full" [dataClass]="dataClass" mimes=".pdf" [maxFiles]="1"
                           [error]="errorStates[7]" (fileSelected)="onFileSelected($event, 7)"></app-file-upload>
        </div>

        <!-- cargue 8 -->
        <div class="w-full flex flex-col justify-center items-start pt-6 my-auto h-full">
          <p class="text-primary3 font-semibold"
             [ngClass]="{'!text-error !font-normal': errorStates[8]}">
            Cédula de Ciudadanía del Representante Legal*
          </p>
          <app-file-upload class="mt-2 h-full" [dataClass]="dataClass" mimes=".pdf" [maxFiles]="1"
                           [error]="errorStates[8]" (fileSelected)="onFileSelected($event, 8)"></app-file-upload>
        </div>
      </div>

      <!-- contenido 2 -->
      <div class="content2 md:grid sm:grid-cols-2 md:gap-x-36 md:flex items-center h-full pt-6">

        <!-- cargue 9 -->
        <div class="w-full flex flex-col justify-center items-start pt-6 my-auto h-full">
          <p class="text-primary3 font-semibold"
             [ngClass]="{'!text-error !font-normal': errorStates[9]}">
            Estados financieros de la empresa*
          </p>
          <app-file-upload class="mt-2 h-full" [dataClass]="dataClass" mimes=".pdf" [maxFiles]="1"
                           [error]="errorStates[9]" (fileSelected)="onFileSelected($event, 9)"></app-file-upload>
        </div>

        <!-- cargue 10 -->
        <div class="w-full flex flex-col justify-center items-start pt-6 my-auto h-full">
          <p class="text-primary3 font-semibold"
             [ngClass]="{'!text-error !font-normal': errorStates[10]}">
            Cédula del contador que firma los estados financieros*
          </p>
          <app-file-upload class="mt-2 h-full" [dataClass]="dataClass" mimes=".pdf" [maxFiles]="1"
                           [error]="errorStates[10]" (fileSelected)="onFileSelected($event, 10)"></app-file-upload>
        </div>
      </div>

      <!-- contenido 3 -->
      <div class="content1 md:gap-x-36 md:flex items-center h-full pt-6">

        <!-- cargue 11 -->
        <div class="w-full flex flex-col justify-center items-start pt-6 my-auto h-full">
          <p class="text-primary3 font-semibold"
             [ngClass]="{'!text-error !font-normal': errorStates[11]}">
            Tarjeta profesional contador que firma estados financieros*
          </p>
          <app-file-upload class="mt-2 h-full" [dataClass]="dataClass" mimes=".pdf" [maxFiles]="1"
                           [error]="errorStates[11]" (fileSelected)="onFileSelected($event, 11)"></app-file-upload>
        </div>

        <div class="w-full flex flex-col justify-center items-start pt-6 my-auto h-full">

          <!-- Titulos -->
          <div class="w-full flex flex-row justify-center items-start pt-6 my-auto">
            <p class="text-primary3 font-semibold"
               [ngClass]="{'!text-error !font-normal': errorStates[0]}">
              Cantidad vehículos que está
              requiriendo incrementar*
            </p>

            <p class="text-primary3 font-semibold"
               [ngClass]="{'!text-error !font-normal': errorStates[1]}">
              {{selectedPercentage}} de propiedad de la empresa*
            </p>
          </div>

          <div class="flex flex-row justify-center items-start pt-6 my-auto">
            <!-- Input -->
            <input-text class="w-full mt-2 cursor-pointer" [input]="inputs[0]" [index]="0"
                        [error]="errorStates[0]" (inputChange)="onInputChange($event.index, $event.event)"
                        [attr.min]="0"></input-text>
            <app-select class="w-full mt-2 cursor-pointer" [input]="inputs[1]" [index]="1"
                        [error]="errorStates[1]" (inputChange)="onInputChange($event.index, $event.event)"></app-select>
            <input-text class="w-full mt-2" [input]="inputs[2]" [index]="2"
                        [error]="errorStates[2]"></input-text>
          </div>

          <!-- texto informativo -->
          <div class="flex inline-flex md:gap-3 gap-2 h-full w-full mt-2">
                        <span class="lg:w-[12%] sm:w-[12%] w-[10%] h-full flex justify-center lg:px-1 m-auto">
                            <img class="w-full m-auto" src="assets/iconoInfo.svg">
                        </span>
            <p class="text-primary1 work-sans text-[11px] mt-2 w-auto">
              Este porcentaje se calcula cuando se digite la cantidad de vehículos
              requerida por el % correspondiente y se debe cargar el certificado
              que avale esa cantidad de vehículos que muestra el campo.
            </p>
          </div>

        </div>

      </div>

      <div class="mt-6 w-full flex justify-end">
        <app-primary-button class="" (click)="changeActiveStep(3)">continuar</app-primary-button>
      </div>

    </form>

    <!-- formulario 3 -->
    <form [formGroup]="formGroup3" class="px-4 md:pl-16 md:pe-16 mt-6 active1 mb-6" *ngIf="activeStep == 3">
      <div class="col-span-2">
        <p class="font-bold">Digitar los siguientes campos*</p>
        <p class="text-primary4 font-[500]">Los campos marcados con * son obligatorios</p>
      </div>

      <!-- contenido 1 -->
      <div class="content1 md:grid sm:grid-cols-2 md:gap-x-36 md:flex items-center h-full">

        <!-- cargue 12 -->
        <div class="w-full flex flex-col justify-center items-start pt-6 my-auto h-full">
          <p class="text-primary3 font-semibold"
             [ngClass]="{'!text-error !font-normal': errorStates[12]}">
            Certificado del 10% de propiedad de la empresa*
          </p>
          <app-file-upload class="mt-2 h-full" [dataClass]="dataClass" mimes=".pdf" [maxFiles]="1"
                           [error]="errorStates[12]" (fileSelected)="onFileSelected($event, 12)"></app-file-upload>
        </div>

        <!-- input 1 Capital Social en SMLV* -->
        <div class="w-full flex flex-col justify-center items-start pt-6 my-auto h-full">

          <p class="text-primary3 font-semibold h-full"
             [ngClass]="{'!text-error !font-normal': errorStates[3]}">
            Capital Social en SMLV*
          </p>

          <!-- input -->
          <input-text class="w-full mt-2 cursor-pointer" [input]="inputs[3]" [index]="3"
                      [error]="errorStates[3]" (inputChange)="onInputChange($event.index, $event.event)"></input-text>

          <!-- texto informativo -->
          <div class="flex inline-flex md:gap-3 gap-2 h-full w-full mt-2">

                        <span class="lg:w-[12%] sm:w-[12%] w-[10%] h-full flex justify-center lg:px-1 m-auto">
                            <img class="w-full m-auto" src="assets/iconoInfo.svg">
                        </span>
            <p class="text-primary1 work-sans text-[11px] mt-2 w-auto">
              Empresa con capacidad transportadora operacional autorizada de
              hasta 51 y 300 vehículos: Capital pagado mínimo: 400 SMLMV –
              Patrimonio líquido mínimo > 280 SMLMV
            </p>

          </div>

        </div>

      </div>

      <!-- contenido 2 -->
      <div class="content2 md:grid sm:grid-cols-2 md:gap-x-36 md:flex items-center h-full pt-6">

        <!-- input 2-->
        <div class="w-full flex flex-col justify-center items-start pt-6 my-auto h-full">
          <p class="text-primary3 font-semibold h-full"
             [ngClass]="{'!text-error !font-normal': errorStates[4]}">
            Patrimonio Líquido en SMLV*
          </p>

          <!-- input -->
          <input-text class="w-full mt-2 cursor-pointer" [input]="inputs[4]" [index]="4"
                      [error]="errorStates[4]" (inputChange)="onInputChange($event.index, $event.event)"></input-text>

          <!-- texto informativo -->
          <div class="flex inline-flex md:gap-3 gap-2 h-full w-full mt-2">
                        <span class="lg:w-[12%] sm:w-[12%] w-[10%] h-full flex justify-center lg:px-1 m-auto">
                            <img class="w-full m-auto" src="assets/iconoInfo.svg">
                        </span>
            <p class="text-primary1 work-sans text-[11px] mt-2 w-auto">
              Empresa con capacidad transportadora operacional autorizada de
              hasta 51 y 300 vehículos: Capital pagado mínimo: 400 SMLMV –
              Patrimonio líquido mínimo > 280 SMLMV
            </p>
          </div>

        </div>

      </div>


      <div class="mt-6 w-full flex justify-end">
        <app-primary-button type="button" class="" (click)="changeActiveStep(4)">continuar</app-primary-button>
      </div>

    </form>

  </div>
  <!-- contenido operativo -->
  <div class="md:col-span-8 sm:col-span-7 w-auto sm:mt-10 mt-4 md:px-8 px-2" *ngIf="activeNum == '1'">
    <h3 class="text-primary1 !font-bold">Incremento de Capacidad Transportadora</h3>

    <!--formulario 4-->
    <form [formGroup]="formGroup4" class="px-4 md:pl-16 md:pe-16 mt-6 active1 mb-6">
      <div class="col-span-2">
        <p class="font-bold">Digitar los siguientes campos*</p>
        <p class="text-primary4 font-[500] pt-4">Los campos marcados con * son obligatorios</p>
        <!-- texto informativo -->
        <div class="md:w-4/6 flex inline-flex md:gap-3 gap-2 h-full w-full mt-2">

                    <span class="lg:w-[7%] sm:w-[8%] w-[10%] h-full flex justify-center lg:px-1 m-auto">
                        <img class="w-full m-auto" src="assets/iconoInfo.svg">
                    </span>
          <p class="text-primary1 work-sans text-[11px] mt-2 w-auto">
            Con el fin de identificar cuantas veces tiene que digitar la siguiente información, teniendo en
            cuenta que esta
            información se debe diligenciar por cada uno de los contratos.
          </p>
        </div>
      </div>
      <!-- content 1 -->

      <div class="mt-6 w-full flex justify-center">
        <app-primary-button class="" (click)="onSubmitAllForms()">Enviar</app-primary-button>
      </div>

    </form>

  </div>

</div>
