/* Estilo para el scrollbar */
::-webkit-scrollbar {
    /* Ancho del scrollbar vertical */
    width: 3px;
    height: 3px;
    /* Altura del scrollbar horizontal */
}

/* Estilo para el scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #3366CC;
    /* Color del scrollbar thumb */
    border-radius: 6px;
    /* Radio de borde del scrollbar thumb */
}

/* Estilo para el scrollbar track */
::-webkit-scrollbar-track {
    background-color: #E6EFFD;
    /* Color del scrollbar track */
}