<div class="header-bar h-[48px] px-[18px] sm:px-[48px] bg-primary1">
    <div class="flex w-full items-center gap-6 pt-1">
        <div class="w-1/2 flex pt-1 justify-start">
            <a href="https://www.gov.co/" target="_blank" title="Ir a la GOV.CO">
                <img src="assets/logo.svg" alt="Logo de GOV.CO" class="sm:h-[30px] h-[30px] w-auto">
            </a>
        </div>

        <div class="w-1/2 flex justify-end items-center gap-4">
            <div class="flex items-center gap-4">
              <p class="text-white text-[14px] maximo-texto">{{userInfo.razonSocial}}</p>
              <div class="flex items-center justify-center user" tabindex="0">
                <span class="pi pi-user text-white"></span>
              </div>
            </div>

            <div>
              <img src="/assets/home.svg" pTooltip="Volver a SINST" tooltipPosition="bottom" width="25px" alt="" class="cursor-pointer" (click)="volverInicio($event)">
            </div>
            <div>
              <img src="/assets/sign-out-alt.svg" pTooltip="Cerrar sesión" tooltipPosition="bottom" width="25px" alt="" class="cursor-pointer" (click)="cerrarsesion($event)">
            </div>

        </div>

    </div>
</div>