<div class="sm:grid sm:grid-cols-10 gap-4" xmlns="http://www.w3.org/1999/html">

  <div class="md:col-span-2 sm:col-span-3 w-auto sm:mt-16 mt-12">
    <app-left-nav [data]="infoMenu" active="{{activeNum}}"></app-left-nav>
  </div>

  <!-- solicitud contenido -->
  <div class="md:col-span-8 sm:col-span-7 w-auto sm:mt-10 mt-4 md:px-8 px-2" *ngIf="activeNum == '0'">

    <h3 class="text-primary1 !font-bold">Solicitud ID {{id}}</h3>

    <!-- sttepper -->
    <div class="mt-4 w-full inline-flex justify-center">
      <app-sttepper [dataStep]="infoStepper"></app-sttepper>
    </div>

    <div class="px-4 md:pl-16 md:pe-16 mt-6 active1 mb-6" *ngIf="activeStep == 1">
      <!-- contenido 1 -->
      <div class="content1 md:grid sm:grid-cols-2 md:grid-cols-3 md:gap-x-24 md:flex items-start h-full">

        <!-- FECHA SOLICITUD -->
        <div class="w-full flex flex-col justify-start items-stretch pt-6 my-auto h-full">
          <p class="text-primary3 font-semibold h-full m-auto">
            Fecha solicitud
          </p>
          <!-- input -->
          <div class="mt-2 relative w-full h-full flex items-center">
            <div
              class="shadow-sm rounded-md min-w-[160px] w-full p-[10px] h-[40px] border focus:outline-none focus:border-primary1 bg-secondary3 border-secondary2 text-primary3 flex items-center justify-center">
              {{ formatField(solicitud?.fechaSolicitud) }}
            </div>
          </div>
        </div>

        <!-- NOMBRE EMPRESA -->
        <div class="w-full flex flex-col justify-start items-stretch pt-6 my-auto h-full">
          <p class="text-primary3 font-semibold h-full m-auto">
            Nombre de la empresa que realiza solicitud
          </p>
          <!-- input -->
          <div class="mt-2 relative w-full h-full flex items-center">
            <div
              class="shadow-sm rounded-md min-w-[160px] w-full p-[10px] h-[40px] border focus:outline-none focus:border-primary1 bg-secondary3 border-secondary2 text-primary3 flex items-center justify-center">
              {{ solicitud?.nombreEmpresa }}
            </div>
          </div>
        </div>

        <!-- TERRITORIAL QUE EMITIÓ LA SOLICITUD -->
        <div class="w-full flex flex-col justify-start items-stretch pt-6 my-auto h-full">
          <p class="text-primary3 font-semibold h-full m-auto">
            Territorial que emitió la solicitud
          </p>
          <!-- input -->
          <div class="mt-2 relative w-full h-full flex items-center">
            <div
              class="shadow-sm rounded-md min-w-[160px] w-full p-[10px] h-[40px] border focus:outline-none focus:border-primary1 bg-secondary3 border-secondary2 text-primary3 flex items-center justify-center">
              {{ solicitud?.territorial }}
            </div>
          </div>
        </div>

      </div>


    </div>



  </div>




</div>

<!-- Modal -->
<app-alert [showModal]="showModal" title="Asignación exitosa" textColor="text-success" [showSubtitle]="false"
  [message]="'Se ha asignado un radicado a esta solicitud'" buttonText="Continuar" [showFirstButton]="true"
  [showCancelButton]="false" TypeAlert="success" (close)="handleClose()" (closeByButton1)="finalStep()"
  (closeByButton2)="handleCloseByButton2()" (closeByIcon)="handleCloseByIcon()"
  (closeByBackdrop)="handleCloseByBackdrop()" (close)="showModal = false"></app-alert>