<div class="bg-gray-50/50">
    <app-header-bar [user]="user" />
    
    
    <div class="mt-[12px] mb-[13px] pl-[18px] sm:mt-[32px] sm:mb-[22px] sm:pl-[86px]">
        <img src="assets/super_transporte.png" class="w-auto sm:h-[48px] h-[35px]" alt="">
    </div>
    
    <app-header [breadcrumb]="breadcrumb"></app-header>
    <app-sidebar />
    <div class="z-4">
        <div class="">
            <h2 class="text-primary1 !font-semibold mt-12 px-6">
                Indicadores de gestión y operación y sustentabilidad financiera
                
            </h2>
            <router-outlet />
        </div>
    </div>
    <div class="text-blue-gray-600 z-1">
        <app-footer />
    </div>
</div>