<div class="bg-gray-50/50">
    <app-header-bar />
    <!-- side bar azul -->
    <app-menu-navegacion></app-menu-navegacion>
    <!-- indicador - marcador seccion -->
    <div class="px-4 bg-[#333333] padding-title">
        <div class="flex items-center">
            <p class="text-white title-module">
                <b>Indicadores de gestión y operación y sustentabilidad financiera</b>
            </p>
        </div>
    </div>
    
    <div class="z-4">
        <div class="">
            <app-header  [breadcrumb]="breadcrumb"></app-header>
            <router-outlet />
        </div>
    </div>
    <div class="text-blue-gray-600 z-1">
        <app-footer />
    </div>
</div>