<div class="mt-6 w-full mb-6 hidden sm:block">
  <div class="flex flex-col">
    <div class="inline-block shadow">
      <div class="inline-block min-w-full py-2">
        <div class="overflow-x-auto">
          <div class="max-h-80 overflow-y-auto">
            <table class="min-w-full table-fixed border-2 border-secondary1">
              <thead class="bg-secondary1 sticky top-0 text-left font-semibold tracking-wide text-primary2 z-4">
                <tr class="border-b">
                  <th *ngFor="let header of headers" class="px-5 py-3 font-semibold tracking-wider">
                    <span [innerHTML]="header.titulo"></span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-primary3 border-b-2 border-secondary1 bg-white" *ngFor="let item of data">
                  <td *ngFor="let key of info" class="px-5 py-5">
                    <!-- datos con rol de escritura territorial -->
                    <p *ngIf="key !== 'id' && hasRole('ROLE_ESCRITURA_MIN')" class="whitespace-no-wrap">
                      {{ formatField(item[key]) }}
                    </p>
                    <!-- id con rol de escritura gestion doc -->
                    <p *ngIf="key === 'id' && hasRole('ROLE_ESCRITURA_MIN')" class="whitespace-no-wrap">
                      {{ item[key] }}
                    </p>
                    <!-- id con rol de escritura gestion doc -->
                    <a *ngIf="key === 'id' && (hasRole('ROLE_ESCRITURA_GESDOC') || hasRole('ROLE_SUPERTRANSPORTE'))"
                      class="underline text-primary2 font-semibold cursor-pointer" pTooltip="clic para abrir"
                      tooltipPosition="right" (click)="onIdClick(item[key])">
                      {{ item[key] }}
                    </a>
                    <!-- datos con rol de escritura gestion doc -->
                    <p *ngIf="key !== 'id' && key !== 'semaforo' && (hasRole('ROLE_ESCRITURA_GESDOC') || hasRole('ROLE_SUPERTRANSPORTE'))"
                      class="whitespace-no-wrap">
                      {{ formatField(item[key]) }}
                    </p>
                    <!-- Barra de progreso del semáforo -->
                    <div
                      *ngIf="key === 'semaforo' && (hasRole('ROLE_ESCRITURA_GESDOC') || hasRole('ROLE_SUPERTRANSPORTE'))"
                      class="w-full relative flex-col whitespace-no-wrap z-0">

                      <!-- Barra de progreso base (gris) -->
                      <div class="absolute top-0 left-0 h-[3px] bg-secondary2 w-full"></div>

                      <!-- Barra de progreso con color variable según los días -->
                      <div class="absolute top-0 left-0 h-[3px]" [ngStyle]="{
                          width: (item[key] >= 10 ? 100 : (item[key] / 10) * 100) + '%',
                          backgroundColor: getColorForSemaforo(item[key])
                        }"></div>

                      <!-- Círculo en el punto de progreso -->
                      <div class="absolute top-[-5px] h-[14px] w-[14px] rounded-full flex items-center justify-center"
                        [ngStyle]="{
                          left: 'calc(' + (item[key] >= 10 ? 100 : (item[key] / 10) * 100) + '% - 7px)',
                          backgroundColor: getColorForSemaforo(item[key])
                        }">
                        <div class="h-[8px] w-[8px] rounded-full bg-white"></div>
                      </div>
                    </div>

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="mt-6 w-full mb-6 sm:hidden">
  <div class="border-2 bg-white border-secondary1 max-h-[28rem] overflow-y-auto"> <!-- Contenedor general con scroll -->
    <div class="flex flex-col space-y-6" *ngFor="let item of data">
      <div class="border-2 bg-white border-secondary1 py-4 px-4">
        <div class="flex flex-col space-y-4">
          <!-- Recorremos los headers y mostramos las filas correspondientes -->
          <div class="flex justify-between" *ngFor="let header of headers; let i = index">
            <div class="w-1/2 font-semibold text-primary2 p-2" [innerHTML]="header.titulo"></div>

            <!-- Condicionales de visualización aplicados -->
            <div class="w-1/2 p-2">
              <!-- Condición: datos con rol de escritura territorial -->
              <p *ngIf="info[i] !== 'id' && hasRole('ROLE_ESCRITURA_MIN')" class="whitespace-no-wrap">
                {{ formatField(item[info[i]]) }}
              </p>

              <!-- Condición: id con rol de escritura gestion doc -->
              <p *ngIf="info[i] === 'id' && hasRole('ROLE_ESCRITURA_MIN')" class="whitespace-no-wrap">
                {{ item[info[i]] }}
              </p>

              <!-- Condición: id con rol de escritura gestion doc -->
              <a *ngIf="info[i] === 'id' && (hasRole('ROLE_ESCRITURA_GESDOC') || hasRole('ROLE_SUPERTRANSPORTE'))"
                class="underline text-primary2 font-semibold cursor-pointer" pTooltip="clic para abrir"
                tooltipPosition="right" (click)="onIdClick(item[info[i]])">
                {{ item[info[i]] }}
              </a>

              <!-- Condición: datos con rol de escritura gestion doc -->
              <p *ngIf="info[i] !== 'id' && (hasRole('ROLE_ESCRITURA_GESDOC') || hasRole('ROLE_SUPERTRANSPORTE'))"
                class="whitespace-no-wrap">
                {{ formatField(item[info[i]]) }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>